* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @media screen and (max-width: 100%) {
    div.container {
      width: 80%;
    }}

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: dodgerblue;
    padding: 10px 10px;
  }

  header {
    border-radius: 10px 10px 0 0;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
  }

  h1,
  h2 {
    color: green;
    text-decoration: overline;
    text-align: center;
    font-size: 140%;
    word-spacing: 5px;
    margin-block-end: auto;
    padding: 10px;
    width:auto;
  }

 .section {
  text-align: center;
  width: 100%;
  padding: 30px;
    
  }

    .circle {
      width: 120px;
      height: 120px;
      border-radius: 50%;            
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      justify-content: center;
      position: relative;
      align-items: center;
      margin: auto;
           
    }

  .circle-container {    
    width: 100%;     
    margin:  auto;  
    padding-left: 100px;         
  }

  .main {      
    width: 80%;
    padding: 20px;
        
    }

  p {
    margin: 0 30px;
    text-align: center;
    font-size: 15px;
    word-spacing: 5px;
    padding: 15px;
  }

  footer {
    background: #020425;
    width: 20%;
    outline: none;
    border: none;
    border-radius: 0 0 15px 15px;
  }

  .contact {
    flex-direction: column;
    justify-content:last baseline;
    padding: 25px, 35px;
    margin: auto;
    background: rgb(98, 236, 64);
    width: fit-content;
  }

  ul {
    display: grid;
    width: 40%;
    gap: 10px;
    list-style: none;
    justify-content: space-between;
  }
  
  p.copyright {
    text-align: center;
    color: blue;
    font-size: 8px;
    padding: 15px;
  }